.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.object {
    white-space: pre-wrap;
    font-family: monospace;
}

.prefix {
    color: lightgray;
}

.name {
    color: hsl(210, 100%, 50%);
}

.length, .value, .embedding {
    color: hsla(210, 50%, 50%, 0.4);
}
